.percentTotal {
  display: flex;
  height: 15px;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin: 0;
  padding: 0;
}
.percentWrapper {
  display: flex;
  height: 15px;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  margin: 0;
  padding: 0;
}

.percentBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  margin: 0;
  padding: 0;
}

.percent {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.checkBorderWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.checkBorder {
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.checkIcon {
  width: 13px;
  height: 13px;
  margin: 0;
  padding: 0;
}
